<h1>Cocktails#index</h1>
<p>Find me in app/views/cocktails/index.html.erb</p>


    <% @cocktails.each do |cocktail| %>
        <%= link_to cocktail_path(cocktail) do %>
        <%= cocktail.name %>
      <% end %>
    <% end %>
