<h1>Cocktails#index</h1>
<p>Find me in app/views/cocktails/index.html.erb</p>

<% @cocktails.each do |cocktail| %>
<%= cocktail.name  %>
<% end  %>

 <p><%= link_to 'add_cocktail', new_cocktail_path %></p>
