<div class = "display"><h1>Cocktails</h1></div>

<div class="container">
  <ul>
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail) do %>
        <li> <%= cocktail.name %></li>
      <% end %>
    <% end %>
  </ul>
</div>
